html, body {
  width:100%;
  height:100vh;
  color:black;
  margin:0;
  padding:0;
}

body {
  background:#FFF;
  -webkit-font-smoothing: antialiased;
}

.device {
  display:none;
}

/********* fonts *********/


@font-face {
  font-family: 'Circular';
  src: url('fonts/CircularStd-Medium.eot');
  src: url('fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/CircularStd-Medium.woff2') format('woff2'),
    url('fonts/CircularStd-Medium.woff') format('woff'),
    url('fonts/CircularStd-Medium.ttf') format('truetype'),
    url('fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



html, body, div, h1, h2, h3, h4, h5, h6, p, a, input {
    font-family: Circular,"Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

a {
  color:black;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

a.underline {
  border-bottom: 1px solid black;
}

a:hover {
  color: #33CB9A;
}

@media  only screen and (max-width:736px) {
    /* mobile hover state (none) */
  a:hover {
    color:black;
  }
}

a.clicked {
  color: #FF7E40;
  border-color: #FF7E40;
}
/******* desktop landing page rules *****/

.desktop {
  width:100%;
  height:100%;
  display: table;
  overflow: hidden;
}

.container {
  width:100%;
  text-align:center;
  position:relative;
  display:table-cell;
  vertical-align:middle;
  transition: transform 0.6s ease-in-out;
  pointer-events: none;
}

.container.translated {
  transform: translateY(-275px);
}

.scrollable {
  padding:5vh 1em 120px 1em;
}

.scrollable .content {
  position:relative;
}

.antarctic-logo {
  display:block;
  margin:auto;
  -webkit-filter:invert(100%);
  -moz-filter:invert(100%);
  filter:invert(100%);
  pointer-events: all;
}

.antarctic-logo.header {
    width:190px;
    position: relative;
    z-index: 2;
}

.antarctic-logo.footer {
    width:120px;
}

.est {
  font-size: 0.8em;
}

.tagline {
  font-size:1.3em;
}

#hellosvg {
  width:33%;
  min-width: 330px;
  display:block;
  margin:auto;
  margin-bottom: 6vh;
}

.lower {
  font-size: .9em;
  position: relative;
  z-index: 2;
  pointer-events: all;
  line-height: 1.6em;
}

footer {
  background:#2BFCAE;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  padding-top:1.5em;
  transform: translateY(90%);
  z-index: 3;
  pointer-events: all;
}

.meantime {
  font-size: 1.1em;
}

.slogan {
  font-size: 0.8em;
}

.social-media {
  margin-bottom: 5em;
}
.social-media img {
  width:80px;
}

.trigger {
  position: absolute;
  width:100%;
  height:10vh;
  max-height: 80px;
  top: -80px;
  z-index: 3;
  transition: top 600ms linear;
}

.desktop .translated .trigger {
  top: 0;
  z-index:2;
}

/************ rules for hover and change of bg effect **************/

.desktop .overlay {
  position:absolute;
  width:100%;
  height:100%;
  /*background:rgba(200,100,125,0.6);*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.desktop .overlay > div {
  width:calc(100%/12);
  height:100vh;
  margin: 0;
  padding:0;
}


/************ leadership stylessssss *************/

.leadership {
    font-size: 0.8rem;
    pointer-events: all;
    display:block;
    background: white;
}

.leadership.unloaded {
  position:absolute;
  left:0;
  right: 0;
  top: 110vh;
  // transition: top 1s ease-in-out;
  z-index: 3;
}

.leadership.loading {
  top:0;
}

.leadership .wrapper {
  display:inline-block;
  position: relative;
}

.leadership h2 {
  font-weight: normal;
  margin-bottom: 3em;
  margin-top:.2em;
}

.leadership .profile-box {
  width: 28vw;
  max-width: 350px;
  display: inline-block;
  margin-right:1.5rem;
}

.leadership .profile-box:last-of-type {
  margin-right:0;
}

.leadership .profile-box img {
  width: 100%;
  height: auto;
}

.leadership .profile-box table {
  text-align: left;
  color: black;
}

.leadership .profile-box table tr td {
  /*border-bottom: 0.8em solid transparent;*/
}

.leadership .profile-box table tr td:first-of-type {
  border-right: .5rem solid transparent;
}

.leadership .profile-box table .name span:first-of-type {
  display: block;
}

.leadership .profile-box table .name span:last-of-type {
  display: block;
  text-transform: uppercase;
}

.leadership .profile-box table .role {
  vertical-align: bottom;
}

.leadership .profile-box table .contact {
  vertical-align: top;
}

.leadership .profile-box table .contact a span:last-of-type {
  display:block;
}

.leadership .selected-clients {
    text-align: left;
    margin-top: 8rem;
}

.leadership .selected-clients .column {
  display:inline-block;
  vertical-align: top;
  margin-right:3rem;
}

.leadership .selected-clients .column p {
    margin: 0;
}

/********* mobile general rulessssssss **********/

@media  only screen and (max-width:736px) {
    /* Style Rules */
  body, html {
    overflow: hidden;
    background-color: #2BFCAE;
    max-height: 100vh;
    max-width: 100vw;
    width:100%;
    -webkit-text-size-adjust: 100%;
  }
  .device {
    display:block;
  }
  .desktop {
    display:none;
  }
}


/********* mobile (portrait) stylesssssss ********/

.device, .mobile {
  background: #2BFCAE;
  width:100%;
  height:100%;
  position: relative;
  transition: transform 0.6s ease-in-out;
  // overflow: hidden;
}

.device.translated {
  transform: translateX(-150px);
}

.mobile .antarctic-logo {
  width:50vw;
  min-width: 220px;
}

.mobile .top, .mobile .bottom, .mobile .left, .mobile .right {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mobile .top > *, .mobile .bottom > *, .mobile .left > *, .mobile .right > * {
transform: translate3d(0, 0, 0);
}
.mobile .top, .mobile .bottom {
  position:absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin:auto;
  text-align: center;
}

.mobile .top {
  top:2vh;
}

.mobile .bottom {
  bottom:2vh;
  transform: rotate(180deg);
  margin:auto;
}

.mobile .bottom p , .mobile .top p {
  font-size:8vw;
  margin:0.2em;
}

.mobile .left, .mobile .right {
  position: absolute;
  width:100vh;
  text-align: center;
  z-index: 5;
}

.mobile .left {
  left:6vw;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.mobile .right {
  right: 6vw;
  top: 50%;
  transform: translateX(50%) translateY(-50%) rotate(90deg);
}

.mobile .left p, .mobile .right p {
  font-size: 1em;
}

.mobile .left p span {
  margin:1em;
}

.mobile .right p span {
  margin: 2em;
}

.mobile.social {
  width:150px;
  height:100%;
  position: fixed;
  transform: translateX(100%);
  right:0;
  background-color: #2BFCAE;
  top:0;
  text-align: center;
}

.mobile.social .wrapper {
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

.mobile.social.translated {
  transform: translateX(0);
}

.mobile.social a {
  display:block;
}

.mobile.social img {
  width:100px;
}

.hellomob {
  width:70vw;
  height:100%;
  background:url(Images/hello-mobile-vertical.svg) repeat-y top center;
  background-size:100% auto;
  animation: hellomove-vertical 7s linear infinite;
  position: relative;
  margin:auto;
}

@keyframes hellomove-horizontal {
  from {
    background-position: 0vh 0%;
  }
  to {
    background-position: 0% 76vw;

  }
}

@keyframes hellomove-vertical {
  from {
    background-position: 0vh 0%;
  }
  to {
    background-position: 0% -152vw;

  }
}

/******** mobile portrait leadership rules *********/

.mobile.leadership {
  top: 0;
  transform: translateX(-100%);
  position: absolute;
  overflow: scroll;
  padding-top:20vh;
}

.mobile.leadership.translated {
  transform: translateX(0);
}

.mobile.leadership .close-arrow, .mobile.leadership .tagline {
  display:none;
}

.mobile.leadership table {
  width:70%;
  margin:auto;
}

.mobile.leadership .profile-box {
  display:block;
  width:100%;
  max-width: initial;
  margin-bottom:5em;
}

.mobile.leadership .profile-box tr {
  width:100%;
}

.mobile.leadership .profile-box td {
  display: block;
}


.mobile.leadership .profile-box table .name span {
  display:inline-block;
}

.leadership .profile-box table .name span:last-of-type {
  padding-left: .4em;
}

.mobile.leadership .profile-box table .name p, .mobile.leadership .profile-box table .role p {
  margin:0;
}

.mobile.leadership .profile-box table .contact a span:last-of-type {
  display: initial;
}

.mobile.leadership .selected-clients {
    width: 70%;
    margin: auto;
    padding-bottom: 55vh;
    padding-top: 11vh;
}


/********* mobile landscape rulessssssss **********/

@media only screen and (max-width:736px) and (orientation:landscape) {
  .device {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    height: 100vw;
    width: 100vh;
    left: 50%;
    top: 50%;
  }

  .device.translated {
    transform: translateX(-50%) translateY(-50%) rotate(90deg) translateX(-100px);
  }

  .mobile .antarctic-logo {
    width: 60vh;
  }

  .mobile .bottom p, .mobile .top p {
    font-size: 8vh;
  }

  .mobile .left, .mobile .right {
    width:100vw;
  }

  .mobile .left {
    left: 7vh;
  }

  .mobile .right {
    right: 7vh;
    transform: translateX(50%) translateY(-50%) rotate(-90deg);
  }

  .mobile .left p, .mobile .right p {font-size: 1em;}

  .mobile.social {
    // transform: translateY(-100%);
    width: 100px;
    // left: 0;
    height: 100vw;
  }

  .mobile.social a {
    display:inline-block;
  }

  .mobile.social img {
    width:75px;
    transform: rotate(-90deg);
  }

  .hellomob {
    width:35vw;
    animation: hellomove-horizontal 7s linear infinite;
  }

  /*************mobile leadership landscape rules***************/

  .mobile.leadership.translated {
    transform: translateX(0) rotate(180deg);
  }

  .mobile.leadership .profile-box > img {
    transform: rotate(90deg);
    margin-top: 16vw;
  }

  .mobile.leadership .profile-box > table {
    transform: rotate(90deg);
    position: relative;
    top:3em;
  }

  .mobile.leadership.translated .selected-clients > * {
    transform: translate3d(0,0,0) rotate(90deg);
  }
  
  .mobile.leadership.translated .selected-clients>p {
    height:100px;
    width: 100px;
  }

  .mobile.leadership.translated .selected-clients .column {
    margin-right: 0;
    width:200px;
    height:200px;
  }

}